body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

input[type=submit] {
    background-color: #7CFC00;
}

input[type=file] {
    background-color: #87CEFA;
}
