body {
  padding: 5px;
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
  font-size: 14pt;
}

input[type=submit] {
    background-color: #7CFC00;
}

input[type=file] {
    background-color: #87CEFA;
    color: black;
    font-size: 16pt;
}
